<ul class="nav nav-major">
	<li class="home"><a href="{{site.url}}{{site.baseurl}}/">home</a></li>
	<li class="carpet"><a href="{{site.url}}{{site.baseurl}}/carpet">carpet<a></li>
	<li class="marble"><a href="{{site.url}}{{site.baseurl}}/marble">marble</a></li>
	<li class="others"><a href="{{site.url}}{{site.baseurl}}/others">door</a></li>
	<li class="information"><a href="{{site.url}}{{site.baseurl}}/info">info</a></li>
	<li class="blog hide-on-mobiles"><a href="{{site.url}}{{site.baseurl}}/blog">blog</a></li>
</ul>
